/* @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap'); */
/*.headerPrincipal{
    background-color: rgb(35, 141, 212);

}*/
.header-cabe{
    display: flex;
    background-image: url(/img/servicio.png);
    opacity: 0.90;
     /*  font-family: 'Roboto Condensed', sans-serif;*/
   font-family: 'Yanone Kaffeesatz', sans-serif;
/*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
color:white;
font-weight: 500;
}
.logo-pres{
    display: flex;
    flex-direction:column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
  .anima{
    /*display: flex;*/
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count:2;
    /*margin: auto;
    text-align: center;*/
    animation-direction: alternate;
     z-index: 3;
  }
  
  .slidein {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    /*animation-direction: alternate;*/
  }
  
  @keyframes slidein {
    from {
      opacity: 10%;
      margin-left:100%;
      /* width:30% */
    }
  
    to {
      opacity: 100%;
     margin-left:0%;
     /* width:100%; */
     align-items: center;
   }
  }
  
.navbar {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    /*font-family: 'Roboto Condensed', sans-serif;
    font-family:'Yanone Kaffeesatz', sans-serif;  
    /*font-family: "Mukta";
    font-weight:bold ;*/
    color: rgb(46, 47, 47);
    font-size: 12px;
}
.nav-list {
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    list-style: none;
    vertical-align: bottom;
     
       }
.list-item {
    display: inline-block;
    padding: 45px 5px; 
    padding-bottom: 1px;

    /*border-radius: 5px;*/
    transition: .5s;
    /*border-left: 4px solid #33b6e559;*/
}
.navbar a {
    color: rgb(31, 30, 30);
    font-weight: 200;
    text-decoration: none;
}

.navbar a:hover {
    /*background-color: #fbfffe;*/
    color: rgb(238, 238, 219);
    font-size: 14px;
    /*border-radius: 6px;*/
    text-shadow: #f4efefae;
    border-left: 4px solid #cdd1d259;
    transition: .5s;
}
/*
.top-bar {
    display: flex;
    background-image: linear-gradient(to right, rgba(249, 244, 244, 0.775),#e87d7d,#fd043aab);
    height: 15px;
    justify-content: right;
    vertical-align: right;
    align-items:center;
    font-family: "poppins";
    font-size: 12px;
    color: #faf9f9;
    transition: width 2s, height 4s;
    }

.top-bar ul {
    display: inline-block;
    list-style: none;
}
.top-bar li {
    display: inline-block;
    margin: 0px 15px;
}

.top-bar a {
    color: #fcfbfb98;
}

.top-bar a:hover {
    color: rgb(49, 61, 128);
    background: #189bca47;
    }
    */