{
    margin: 0;
    box-sizing: border-box;
    width: 100%;    
}
.navbarhamb{
    display: none;
}

.container-head{
display: flex;
flex-direction:column 1 1;
opacity: .80;
background-color: rgba(208, 233, 107, 0.727);
text-decoration: none;
}
img{
  width: 100%;
}
.banner-text{
    padding: 5px;
    z-index: 3;
    color: #0a0a0a;
    opacity: 75%;
    text-align: justify;
    font-size: 1.2rem;
    align-items:right;
    align-self:right;
    transition: .3s
  }
  
  .logo{
    padding:3px;
    
  }
 
.navbar {
    display: inline;
    justify-content: space-around;
    font-family:'Yanone Kaffeesatz', sans-serif;  
    }
.nav-list {
    display:inline;
    font-size: 1.2rem;
    list-style: none;
    vertical-align: bottom;
    text-align: right;
       }
.list-item {
    display: inline-block;
   padding: 10px 10px; 
    padding-bottom: 5px;
    border-radius: 5px;
    transition: .5s;
    /*border-left: 4px solid #33b6e559;*/
}
.navbar a {
color: #232323;
text-shadow: 0 1px 2px #d8d6d6, 0 0 5px #494545;
font-weight: 200;
   text-decoration: none;
}

.navbar a:hover {
    /*color: rgb(147, 147, 40);*/
    /*text-shadow: #f4efefae;*/
    color: rgba(227, 27, 74, 0.805);
    border-left: 5px solid #f9f9fb59;
    transition: .5s;
}
.top-bar ul {
    display: inline-block;
    list-style: none;
}
.top-bar li {
    display: inline-block;
    margin: 0px 15px;
}
@media screen and (max-width: 768px) {
  header{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
   
}
  
     body{
      font-family:'Yanone Kaffeesatz', sans-serif;
      font-size: 1rem;
      
     }
.container-head .banner-text{
  display: none;
}
    
  .navbarhamb{
    display: block;
     height: 48px;
    padding: 10px 12px;
    position: relative;
  }
  .logo-pres{
    display: block;
  }
  .checkbox, .icons{
    width: 24px;
    height: 24px;
    position: absolute;
    top:10px;
    right: 12px;
    cursor: pointer;
  }
 
  .icons{
    pointer-events: none;
    font-size: 24px;
  }
  .checkbox{
    opacity: 0;
  }
  .fa-circle-xmark{
    display: none;
  }
  .checkbox:checked ~ .bars-solid{
    display: none;
  } 
.checkbox:checked ~ .fa-circle-xmark{
  display: block;
}
.vermenu{
  background-color: rgba(241, 162, 152, 0.897) ;
  border-radius: 20px;
  box-shadow: 0.5em 0 0.6em #faf8f8;
  width: 200px;
  position: absolute;
  top:48px;
  right: 0px;
  display: none;
  z-index: 3;
}
.vermenu li a{
  display: block;
  padding: 10px 12px;
}
.checkbox:checked ~ .vermenu{
  display: block;
}
  }
  @media screen and (max-width: 480px) {
    
    header{
      margin: 0;
      padding: 0;
   box-sizing: border-box;
     
  }
    .menu{
      display: none;
    }
    
       body{
        font-family:'Yanone Kaffeesatz', sans-serif;
        font-size: 1rem;
        
       }
    
    .navbarhamb{
      display: block;
       height: 48px;
      padding: 10px 12px;
      position: relative;
    }
    .logo-pres{
      display:block;
    }
    .checkbox, .icons{
      width: 24px;
      height: 24px;
      position: absolute;
      top:10px;
      right: 12px;
      cursor: pointer;
    }
   
    .icons{
      pointer-events: none;
      font-size: 24px;
    }
    .checkbox{
      opacity: 0;
    }
    .fa-circle-xmark{
      display: none;
    }
    .checkbox:checked ~ .bars-solid{
      display: none;
    } 
  .checkbox:checked ~ .fa-circle-xmark{
    display: block;
  }
  .vermenu{
    background-color: rgba(241, 162, 152, 0.897) ;
    border-radius: 20px;
    box-shadow: 0.5em 0 0.6em #faf8f8;
    width: 200px;
    position: absolute;
    top:48px;
    right: 0px;
    display: none;
    z-index: 3;
  }
  .vermenu li a{
    display: block;
    padding: 10px 12px;
  }
  .checkbox:checked ~ .vermenu{
    display: block;
  }
    }
        
 

  
 /* @media screen and (max-width: 480px) {
   
  
header{
  margin: 0;
  padding: 0;
box-sizing: border-box;
 
}
   body{
    font-family:'Yanone Kaffeesatz', sans-serif;
    font-size: 1rem;
    background-image:linear-gradient(to right, rgb(241, 163, 152) , rgba(241, 162, 152, 0.314));
   }
   .menu{
    display: none;

}
.logo{
    display: none;
}
.banner{
  display: none;
}
.banner-text{
    background-color: rgba(241, 162, 152, 0.624) ;
    font-size: 0.8rem;    
}   
.navbarhamb{
    display: flex;
   height: 48px;
  padding: 10px 12px;
  position: relative;
}
.checkbox, .icons{
  width: 24px;
  height: 24px;
  position: absolute;
  top:10px;
  right: 12px;
  cursor: pointer;
}

.icons{
  pointer-events: none;
  font-size: 24px;
}
.checkbox{
  opacity: 0;
}
.fa-circle-xmark{
  display: none;
}
.checkbox:checked ~ .bars-solid{
  display: none;
} 
.checkbox:checked ~ .fa-circle-xmark{
display: block;
}
.vermenu{
background-color: rgba(241, 162, 152, 0.897) ;
border-radius: 20px;
box-shadow: 0.5em 0 0.6em #faf8f8;
width: 200px;
position: absolute;
top:48px;
right: 0px;
display: none;
z-index: 3;
}
.vermenu li a{
display: block;
padding: 10px 12px;
}
.checkbox:checked ~ .vermenu{
display: block;
}
.vermenu a:hover {
    color: rgba(227, 27, 74, 0.805);
    background-color:#f9f9fb59;
    transition: .5s;
}
.top-bar ul {
    display: inline-block;
    list-style: none;
}
.top-bar li {
    display: inline-block;
    margin: 0px 15px;
}
}

