.container-card {
  display:inline-flex;
  width: 100%;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  padding: 1%;
  transition: 0.3s;
   /* border-radius: 5px;
 Add shadows to create the "card" effect 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-variant-caps:petite-caps;
    border-radius: 25px;
     background-color: rgba(212, 240, 97, 0.727);
     padding-bottom: 40px;
}
.card-link{
  text-decoration: none;
  color: #262525;
  background-color: rgba(212, 240, 97, 0.727);
  width:80%;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/*.image-card {
  
  width: 300px;
  height: auto;
  

}*/



.flip-card {
    background-color: transparent;
    width: 290px;
    height: 290px;
    text-decoration: none;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  img{
    box-sizing: border-box;
    width: fit-content;
    border-radius: 25px 25px 0 0;
  }
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    align-content:center ;
    text-align: center;
    align-items: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
   
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height:100%;
    color: grey;
    text-decoration: none;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: rgba(212, 240, 97, 0.727);
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgba(212, 240, 97, 0.727);
    color: rgb(114, 112, 112);
    text-decoration: none;
    /*align-content:center ;*/
    padding-top: 10px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    transform: rotateY(180deg);
  }

  @media screen and (min-width: 320px) and (max-width: 667px) {
    .container-head{
      display: block;
    }
    .banner{
      display: none}
      
      .container-card{
        display: block;
      }
    }