/* flex{
    background-color: rgb(249, 225, 225);
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}*/
.Cont-Card{
  display: flex;
flex-direction: row;
}
.container{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
    
    }
  
.container-Card{
    display:flex;
    justify-content: center;
      align-items: center;
      text-align: center;
  }

  .container .card{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 260px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0 35px 80px #c6c4c4;
    transition: 0.5s;
  }
  
  
  .container .card .imgBx{
    position:absolute;
    top:0px;
    width: 280px;
    height: 240px;

    border-radius: 22px;
    overflow: hidden;
  transition: 0.5s;
  text-decoration: none;
  }
  .container .card:hover .imgBx{
    bottom: 50px;
    scale: .90;
    box-shadow: 0 5px 15px #8587eead;
  }
  .container .card .imgBx img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    object-fit:cover;
  }
  .content-card{
    width: 100%;
    height: 15%;
    text-decoration: none;
    box-shadow: 5px 5px 10px ;
    background-color:#cee0f9 ;
    border-radius: 5px;
    }
    h1{
      color:rgb(103, 103, 101);
      
    }
  .content-card,h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
  
    align-content: center;
    align-items: center;
    vertical-align: center;
      z-index: 2;
    }
    
    a:link, a:visited, a:active{
      
      color:rgb(77, 75, 75);
      text-decoration: none;
    }
    a:hover{
      font-size: 20px;
      color:rgba(227, 27, 74, 0.363);
    }
    @media screen and (max-width: 768px) {
      ./*container-General {
        /*margin: 1em 2em;
        display:flex;
      }
      .about{
        display: flex;
        flex-direction: column;
    }
    .articulos{
      display: flex;
      flex-direction: column;
    }*/
  
  @media screen and (min-width: 320px) and (max-width: 667px) {
    /*.container-General {
      /*margin: 1em 2em;
      padding:0;
    }*/
     menu{
        display: none;
      }
   .container-General {
    display: flex;
    flex-direction: 1 1 0;
  width:30vh;
  margin-top:20px;
    }
    .container-Card{
     /* position:absolute;
      display: block;
      block-size: auto;
      */
        }
=======
.flip-card {
    background-color: transparent;
    width: 350px;
    height:350px;
    text-decoration: none;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    align-content:center ;
    text-align: center;
    align-items: center;
    
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
   
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    color: grey;
    text-decoration: none;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #f4cdcf;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #f4cdcf;
    color: rgb(114, 112, 112);
    text-decoration: none;
    /*align-content:center ;*/
    text-align: center;
    align-items: center;
    vertical-align: middle;
    transform: rotateY(180deg);
>>>>>>> 86408a8 (segunda)
  }