.pie{
  display:flex;
  width: 99%;
  height: 60px;
  background-color:  black;
  justify-content: center;
    justify-items: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}
  .navbarfoot{
    display:inline-flex;
   /* background-color: black; */
    color: aliceblue;
    /* justify-content: center;
    justify-items: center;
    vertical-align: middle;
    align-items: center; 
    text-align: center;*/
    
  }
  
.foot-list{
  display: inline-flex;
    padding: 20px; 
} 

.foot-list-item{  
    display: inline-flex;
    transition: .5s;
}
.foot-list img{
  width: 30px;
}
p{
  align-self:center;
    align-content: right;
    
 }
@media screen and (min-width: 320px) and (max-width: 480px) {
    .footer{
        padding: 0;
     display:block;
     flex-direction:column;
    
    }
    
  }
  @media screen and (min-width: 481px) and (max-width: 780px) {
    .footer{
        padding: 0;
     display:block;
     width: auto;
     /* flex-direction:column;
    }
    p{
        text-align: center;
    }
    
  } */