.footer{
    display:inline-flex;
    width: 98%;
    justify-content: space-around;
    color: aliceblue;
    background-color: black;
    padding: 0;
}

foot-list{
    display: inline-block;
    vertical-align: bottom;
}
.foot-list-item{
    display:inline-block;
    padding: 25px 15px; 
    padding-bottom: 1px;
    /*border-radius: 5px;*/
    transition: .5s;
}
p{
    padding:20px;
}