
  .footer{
    display:flex;
        flex-direction: row;
        height: 60px;
   background-color: black;
    color: aliceblue;
    justify-content: center;
    justify-items: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    
  }
  .navbar{
    display: flex;

  } 
.foot-list{

    padding: 20px; 
} 

.foot-list-item{  
    display: inline;
    transition: .5s;
}
.foot-list img{
  width: 30px;
}
p{
  align-self:center;
    align-content: right;
    
 }
@media screen and (min-width: 320px) and (max-width: 480px) {
    .footer{
        padding: 0;
     display:block;
     flex-direction:column;
    
    }
    
  }
  @media screen and (min-width: 481px) and (max-width: 780px) {
    .footer{
        padding: 0;
     display:block;
     width: auto;
     /* flex-direction:column;
    }
    p{
        text-align: center;
    }
    
  } */