{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
  display: block;
   text-decoration: none;
   background-color: rgba(250, 237, 249, 0.707); 
}
a:link{
  font-size: 14px;
  color:rgb(11, 23, 114);
  text-decoration: none;
}
 a:visited, a:active{
  
  color:rgb(4, 15, 102);
  text-decoration: none;
}
a:hover{
  font-size: 20px;
  color:rgba(73, 69, 70, 0.363);
  text-shadow: 2px;
}
