
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
header{
  display: flex;
  position: fixed;
  min-height: 100vh;
}
.header-cabe{
    display:flex;
    justify-content:center;
    width: 100vh;
    /* background-image:url("/img/head2.jpg"); */
   background-color: #f6e5e5a5;
    font-family: 'Roboto Condensed', sans-serif;
}
.logo-pres{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    }
  .anima{
  animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count:2;
    /*margin: auto;
    text-align: center;*/
    animation-direction: alternate;
     z-index: 3;
  }
  
  .slidein {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    /*animation-direction: alternate;*/
  }
  
  @keyframes slidein {
    from {
      opacity: 10%;
      margin-left:100%; 
      /* width:30%*/
    }
  
    to {
      opacity: 100%;
      margin-left:0%; 
     /*width:100%;*/
     align-items: center;
   }
  }
  
.navbar {
 display: inline-flex;
    width: 100%;
    justify-content: space-around;
    font-family: 'Roboto Condensed', sans-serif;
    /*font-family:'Yanone Kaffeesatz', sans-serif;  
    /*font-family: "Mukta";*/
    font-weight: bold;
}
.nav-list {
   display: inline-block;
    font-size: 16px;
    list-style: none;
    vertical-align: bottom;
       }
.list-item {
   display: inline-block;
    padding: 45px 5px; 
    padding-bottom: 1px;
    /*border-radius: 5px;*/
    transition: .5s;
    /*border-left: 4px solid #33b6e559;*/
}
.navbar a {
    color: rgb(108, 105, 105);
    font-weight: 200;
    text-decoration: none;
}

.navbar a:hover {
    /*background-color: #fbfffe;*/
    color: rgb(228, 228, 63);
    /*border-radius: 6px;*/
    text-shadow: #f4efefae;
    /*border-left: 4px solid #33b6e559;*/
    transition: .5s;
}
