/*import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');*/
header{
    display:flex;
    font-family: 'Signika Negative', sans-serif;
   /* flex-direction:column 1 1;*/
    max-height: 25vh;
    width: 100%;
   
}
.navbarhamb{
  display: none;
}

.header-cabe{
  display: flex;
  flex-direction: column;
/*background-color: rgba(241, 163, 152, 0.584);*/

background-image:linear-gradient(to right, rgb(241, 163, 152) , rgba(241, 162, 152, 0.314));

font-family:'Yanone Kaffeesatz', sans-serif;
font-size: .7rem;
}
 .menu{
  display: flex;
  align-items:right;
  box-sizing: border-box;
  width: 99%;
  
 } 
.navbar {
   box-sizing:border-box;
   width: 96%;
   justify-content: space-around;
  text-align: right;
  color: #232323;
text-shadow: 0 2 3px #635f5f, 0 0 5px #494545;

}

.logo-pres{
    display: block;
    box-sizing: border-box;
   /* flex-direction:column;
    justify-content: left;
    align-items: left;
    padding: 20px 20px;
    position: relative;
    text-align:left;*/
    
    }
  .anima{
    display: flex;
    max-height: 15vh;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count:2;
    /*margin: auto;
    text-align: center;*/
    animation-direction: alternate;
     z-index: 3;
  }
  
  .slidein {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    /*animation-direction: alternate;*/
  }
  
  @keyframes slidein {
    from {
      opacity: 10%;
      margin-left:100%;
      width:30%
    }
  
    to {
      opacity: 100%;
     margin-left:0%;
     width:100%;
     align-items: center;
   }
  }
  


/*.loogoti{
    display: flex;
    color:rgb(72, 74, 74);
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0 0 3px #f54444, 0 0 5px #fb8097;
    font-weight: 700px;
    font-size: 30px;
    
    }
    h5{
        padding-top: 30px;
        padding-left: 10px;
    }*/
 

.nav-list {
    display: inline-block;
    font-size: 1rem;
    list-style: none;
    color: black;
    padding-top: 2.5rem;
 justify-content: space-around;
       }
.list-item {
   
    display: inline-block;
    color: black;
        /*padding: 45px 10px; */
        padding: 5px 5px; 
        padding-bottom: 3px;
        border-radius: 5px;
    vertical-align: bottom;
    text-align: right; 
   /* padding-bottom: 5px;
    border-radius: 5px;
    transition: .5s;
    /*border-left: 4px solid #33b6e559;*/
}
.navbar a {
   /* color: rgb(56, 55, 55);*/
    font-weight: 200;
    text-decoration: none;
}

.navbar a:hover {
   color: rgb(147, 147, 40);
  text-shadow: 2px 2px #f4efefae;
   /* color: rgba(227, 27, 74, 0.805);*/
    border-left: 5px solid rgb(147, 147, 40);;
    transition: .5s;
}
.navbar :visited{
  color:rgb(91, 93, 93);
}
.navbar :link{
  color:rgb(91, 93, 93);
}
.nav-list ul {
    display: inline-block;
    list-style: none;
    text-align: right; 
    
}
.list-item li {
    display: inline-block;
    padding-bottom: 10px;
   
   
}

@media screen and (max-width: 768px) {
  header{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
   
}
  .menu{
    display: none;
  }
     body{
      font-family:'Yanone Kaffeesatz', sans-serif;
      font-size: 1rem;
      
     }
  
  .navbarhamb{
    display: block;
     height: 48px;
    padding: 10px 12px;
    position: relative;
  }
  .logo-pres{
    display: block;
  }
  .checkbox, .icons{
    width: 24px;
    height: 24px;
    position: absolute;
    top:10px;
    right: 12px;
    cursor: pointer;
  }
 
  .icons{
    pointer-events: none;
    font-size: 24px;
  }
  .checkbox{
    opacity: 0;
  }
  .fa-circle-xmark{
    display: none;
  }
  .checkbox:checked ~ .bars-solid{
    display: none;
  } 
.checkbox:checked ~ .fa-circle-xmark{
  display: block;
}
.vermenu{
  background-color: rgba(241, 162, 152, 0.897) ;
  border-radius: 20px;
  box-shadow: 0.5em 0 0.6em #faf8f8;
  width: 200px;
  position: absolute;
  top:48px;
  right: 0px;
  display: none;
  z-index: 3;
}
.vermenu li a{
  display: block;
  padding: 10px 12px;
}
.checkbox:checked ~ .vermenu{
  display: block;
}
  }
  @media screen and (max-width: 480px) {
    .menu{
        display: none;

    }
    
    header{
      margin: 0;
      padding: 0;
   box-sizing: border-box;
     
  }
    .menu{
      display: none;
    }
    
       body{
        font-family:'Yanone Kaffeesatz', sans-serif;
        font-size: 1rem;
        
       }
    
    .navbarhamb{
      display: block;
       height: 48px;
      padding: 10px 12px;
      position: relative;
    }
    .logo-pres{
      display:block;
    }
    .checkbox, .icons{
      width: 24px;
      height: 24px;
      position: absolute;
      top:10px;
      right: 12px;
      cursor: pointer;
    }
   
    .icons{
      pointer-events: none;
      font-size: 24px;
    }
    .checkbox{
      opacity: 0;
    }
    .fa-circle-xmark{
      display: none;
    }
    .checkbox:checked ~ .bars-solid{
      display: none;
    } 
  .checkbox:checked ~ .fa-circle-xmark{
    display: block;
  }
  .vermenu{
    background-color: rgba(241, 162, 152, 0.897) ;
    border-radius: 20px;
    box-shadow: 0.5em 0 0.6em #faf8f8;
    width: 200px;
    position: absolute;
    top:48px;
    right: 0px;
    display: none;
    z-index: 3;
  }
  .vermenu li a{
    display: block;
    padding: 10px 12px;
  }
  .checkbox:checked ~ .vermenu{
    display: block;
  }
    }
        
 