/*@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');*/

{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;

}


body {
  /* display: block; */
   text-decoration: none;
}

.container-pres{
  display: block;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    width: 100%;
   
/*flex-direction: column;*/
}
#container-cafe{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  
  }
 

.cafe{
  text-align: left;
  background-color: rgba(252, 211, 248, 0.64);
  border-radius: 40px;
  padding: 2%;

}

.titulo-Art{
  display: inline;
  font-size: 2rem;
  font-weight: 600;
  font-variant-caps:petite-caps;
  font-style: inherit;
  color:rgb(244, 219, 54);
  }
h4{
    font-size: 1rem;
    font-weight: 100;
    padding: 20px;
    align-items: left;
   line-height: 1.8; 
    text-align: justify;
    
}
.imgcafe{
  display: flex;
  flex-direction: column;
  padding: 5px;
  /*align-self: center;
  align-content: center;*/
  align-items: left;  
}
.cafe{
  width: 190px;
  height: 125px;
  margin: 10px;
  border-radius: 50px;
  background-image: url(/img/cafe.gif);
}
.cafe:hover{
  width: 190px;
  height: 145px;
  margin: 10px;
  align-content: center;
  background-image: url(/img/darcafe.png);
}
.card-grup{
  padding:3%;
}
