@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,300;0,600;0,900;1,900&family=Mochiy+Pop+One&family=Quicksand:wght@300;500&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,300;0,600;0,900;1,900&family=Mochiy+Pop+One&family=Quicksand:wght@300;500&family=Signika+Negative:wght@400;700&family=Yanone+Kaffeesatz&display=swap');

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  width: 100%;

 }
.contenidohobbies{
  display:inline-flexbox;
  flex-direction: column 1 1;
  font-size: 1.3rem;
    padding: 3%;
   
}
.contenidohobbies img{
  position: absolute;
  width: 95%;
  opacity: .3;
  align-self: center;
  
}
/*.img-port{
  display: flex;
  width:85%;
  height: auto;
  background-image: url(/img/IMG_8608hori.jpg);
  background-size: cover;
  opacity: 90%;
  z-index: 3;
}*/

.present-txt{
  position: relative;
  box-sizing: border-box;
  padding: 1%;
  width: 80%;
  text-align: justify;
  padding: 20% 10% 10%;
  text-shadow: 1px 1px  #e06666;
 }
 
.container-card {
    display: flex;
    box-sizing:border-box;
    width: 99%;
    height:100%;
    
    }
   /*Add shadows to create the "card" effect 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
   /* transition: 0.3s;
  }


  .card-link{
    text-decoration: none;
    color: #262525;
  }
  
  /* On mouse-over, add a deeper shadow */
  /*
  .card:hover {
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
 
 
    @media screen and (min-width: 320px) and (max-width: 667px) {
        
      .contenidohobbies{
          display:inline;
          flex-direction: column 1;
          text-align: justify;
        }
        .img-port{
          width:350px;
          height:250px ;
          background-image: url(/img/IMG_8608hori.jpg);
          object-fit: cover;
    
        }
      .flip-card{
        display:flex;
        flex-direction: row;
      }
      }
      @media screen and (max-width: 768px) {
       
        .logo img{
          width: 50px;
        } 
        .present-txt{
          background-color: aliceblue;
        }
      }
      @media screen and (min-width: 320px) and (max-width: 667px) {}
